* {
  box-sizing: border-box;
  font-family: poppins regular;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 1em;
  background-color: rgb(210, 207, 230);
  color: rgb(122, 16, 122);
}

main#container {
  width: 550px;
  height: auto;Publish a Repl
  border: 1px solid rgb(243, 232, 243);
  border-radius: 20px;
  background-color: white;
  margin: 22px auto;
  padding: 10px 28px;
}

h2 {
  margin-bottom: 0px;
  margin-top: 40px;
  font-size: 2em;
}

h2,
p {
  text-align: center;
  font-weight: bold;
}

img.logo {
  margin-bottom: -30px;
}

div.socialNetworks {
  display: flex;
  justify-content: center;
  margin: 2px 0px 10px 0;
}

.fa-facebook {
  color: rgb(34, 34, 105);
  font-size: 20px;
}

.fa-google {
  color: white;
  font-size: 20px;
}

.fa-apple {
  color: white;
  font-size: 20px;
}

.apple > button {
  border: 2px solid black;
  width: 160px;
  height: 50px;
  padding: 8px 10px 8px 0px;
  margin: 2px 3px 5px 5px;
  border-radius: 5px;
  background-color: black;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.faceB > button {
  border: 2px solid rgb(34, 34, 105);
  width: 160px;
  height: 50px;
  padding: 8px 10px 8px 0px;
  margin: 2px 3px 5px 3px;
  border-radius: 5px;
  background-color: rgb(34, 34, 105);
  text-align: center;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.google > button {
  border: 2px solid red;
  width: 160px;
  height: 50px;
  padding: 8px 10px 8px 0px;
  margin: 2px 5px 5px 3px;
  border-radius: 5px;
  background-color: red;
  text-align: center;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.apple > button:hover {
  background-color: rgba(0, 0, 0, 0.836);
}

.faceB > button:hover {
  background-color: rgba(34, 34, 105, 0.925);
}

.google > button:hover {
  background-color: rgba(255, 0, 0, 0.815);
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  border-top: none;
  border-bottom: 1px solid purple;
  border-left: none;
  border-right: none;
  width: 492px;
  height: 50px;
  border-radius: 2px;
  margin: 10px 0;
  background-color: rgb(243, 232, 243);
  padding-left: 10px;
  color: rgb(122, 16, 122);
}

::placeholder {
  color: rgb(184, 178, 178);
  opacity: 1;
  font-size: 1.1em;
}

.label {
  margin: 10px 0;
}
.favcolor,
.gender,
.DOB {
  font-weight: bold;
  font-size: 0.9em;
}
input[type="color"] {
  width: 70px;
  border: 1px solid purple;
  border-radius: 5px;
  padding: -20px;
  margin-left: 20px;
}

input[type="radio"] {
  margin: 8px 0 0 20px;
}

.radio {
  padding-right: 20px;
  padding-left: 3px;
}

input[type="date"] {
  margin: 8px 0 0 20px;
  border: 1px solid rgb(243, 232, 243);
  width: 150px;
  height: 30px;
  padding-left: 10px;
  background-color: rgb(243, 232, 243);
  color: rgb(122, 16, 122);
  font-size: 1em;
}

.DOBreq {
  text-align: left;
  font-size: small;
  margin-top: 2px;
  color: rgb(124, 118, 118);
}

.chkbox,
.chkbox a {
  font-family: poppins;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1px;
}

.terms {
  margin: 20px 0 10px 15px;
}

.signUpBtn button {
  border: 1px solid rgb(243, 232, 243);
  width: 160px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(243, 232, 243);
  color: rgb(122, 16, 122);
  font-size: 1rem;
  font-weight: bold;
}

.signUpBtn {
  text-align: center;
  margin: 20px 0;
}

.signUpBtn button:hover {
  background-color: rgb(122, 16, 122);
  color: white;
}

a:link {
  color: blue;
}

a:hover {
  color: black;
}

button > a {
  text-decoration: none;
}

button a:hover {
  color: white;
}

@media screen and (max-width: 540px) {
  body {
    background-color: white;
    font-size: 1em;
  }

  main#container {
    width: 100%;
    margin: 0 auto;
    border: none;
    margin: auto;
    padding: 10px;
  }
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"] {
    border-top: none;
    border-bottom: 1px solid purple;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    margin: 10px 0;
    background-color: rgb(243, 232, 243);
    padding-left: 10px;
    color: rgb(122, 16, 122);
  }

  .forrm {
    width: 100%;
    margin: auto;
    padding: 10px;
  }
  div.socialNetworks {
    display: block;
    width: 100%;
    margin: auto;
  }
  .apple > button {
    border: 2px solid black;
    width: 100%;
    height: 40px;
    padding: 8px 10px 8px 0px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: white;
  }

  .faceB > button {
    border: 2px solid rgb(34, 34, 105);
    width: 100%;
    height: 40px;
    padding: 8px 10px 8px 0px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: rgb(34, 34, 105);
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: bold;
  }

  .google > button {
    border: 2px solid red;
    width: 100%;
    height: 40px;
    padding: 8px 10px 8px 0px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: bold;
  }

  .apple > button:hover {
    background-color: rgba(0, 0, 0, 0.836);
  }

  .faceB > button:hover {
    background-color: rgba(34, 34, 105, 0.925);
  }

  .google > button:hover {
    background-color: rgba(255, 0, 0, 0.815);
  }

  .signUpBtn button {
  background-color: rgb(122, 16, 122);
  color: white;
  }ss
}
